.App {
  position: absolute;
  width:100%;
  height:100%;
}
.bg{
  width:100%;
  height:calc(100% - 51px);
  overflow: auto;
}
.nav{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.nav span{
  margin:0 20px;
}

.st1 {
  fill: url(#SVGID_2_);
}

.st2 {
  fill: url(#SVGID_3_);
}

.st3 {
  fill: url(#SVGID_4_);
}

.st4 {
  fill: url(#SVGID_5_);
}

.st5 {
  fill: url(#SVGID_6_);
}

.st6 {
  fill: url(#SVGID_7_);
}

.st7 {
  fill: url(#SVGID_8_);
}

.st8 {
  fill: url(#SVGID_9_);
}

.st9 {
  fill: url(#SVGID_10_);
}

.st10 {
  fill: url(#SVGID_11_);
}

.st11 {
  fill: url(#SVGID_12_);
}

.st12 {
  fill: url(#SVGID_13_);
}

.st13 {
  opacity: 0.95;
}

.st14 {
  fill: url(#SVGID_14_);
}

.st15 {
  fill: url(#SVGID_15_);
}

.st16 {
  fill: url(#SVGID_16_);
}

.st17 {
  opacity: 0.9;
}

.st18 {
  fill: url(#SVGID_17_);
}

.st19 {
  fill: url(#SVGID_18_);
}

.st20 {
  fill: url(#SVGID_19_);
}

.st21 {
  opacity: 0.85;
}

.st22 {
  fill: url(#SVGID_20_);
}

.st23 {
  fill: url(#SVGID_21_);
}

.st24 {
  fill: url(#SVGID_22_);
}

.st25 {
  opacity: 0.8;
}

.st26 {
  fill: url(#SVGID_23_);
}

.st27 {
  fill: url(#SVGID_24_);
}

.st28 {
  fill: url(#SVGID_25_);
}

.st29 {
  opacity: 0.75;
}

.st30 {
  fill: url(#SVGID_26_);
}

.st31 {
  fill: url(#SVGID_27_);
}

.st32 {
  fill: url(#SVGID_28_);
}

.st33 {
  opacity: 0.7;
}

.st34 {
  fill: url(#SVGID_29_);
}

.st35 {
  fill: url(#SVGID_30_);
}

.st36 {
  fill: url(#SVGID_31_);
}

.st37 {
  opacity: 0.42;
}

.st38 {
  fill: none;
  stroke: url(#SVGID_32_);
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke-dasharray: 5, 2.5;
}

.st39 {
  fill: none;
  stroke: url(#SVGID_33_);
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke-dasharray: 5, 2.5;
}

.st40 {
  fill: url(#SVGID_34_);
}

.st41 {
  fill: url(#SVGID_35_);
}

.st42 {
  fill: url(#SVGID_36_);
}

.st43 {
  fill: url(#SVGID_37_);
}

.st44 {
  fill: url(#SVGID_38_);
}

.st45 {
  fill: url(#SVGID_39_);
}

.st46 {
  fill: url(#SVGID_40_);
}

.st47 {
  fill: url(#SVGID_41_);
}

.st48 {
  fill: url(#SVGID_42_);
}

.st49 {
  fill: url(#SVGID_43_);
}

.st50 {
  fill: url(#SVGID_44_);
}

.st51 {
  fill: url(#SVGID_45_);
}

.st52 {
  fill: url(#SVGID_46_);
}

.st53 {
  fill: url(#SVGID_47_);
}

.st54 {
  fill: url(#SVGID_48_);
}

.st55 {
  fill: url(#SVGID_49_);
}

.st56 {
  fill: url(#SVGID_50_);
}

.st57 {
  fill: url(#SVGID_51_);
}

.st58 {
  fill: url(#SVGID_52_);
}

.st59 {
  fill: url(#SVGID_53_);
}

.st60 {
  fill: url(#SVGID_54_);
}

.st61 {
  fill: url(#SVGID_55_);
}

.st62 {
  fill: url(#SVGID_56_);
}

.st63 {
  fill: url(#SVGID_57_);
}

.st64 {
  fill: url(#SVGID_58_);
}

.st65 {
  fill: url(#SVGID_59_);
}

.st66 {
  fill: url(#SVGID_60_);
}

.st67 {
  fill: url(#SVGID_61_);
}

.st68 {
  fill: url(#SVGID_62_);
}

.st69 {
  fill: url(#SVGID_63_);
}

.st70 {
  fill: none;
  stroke: url(#SVGID_64_);
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke-dasharray: 5, 2.5;
}

.st71 {
  fill: url(#SVGID_65_);
}

.st72 {
  fill: url(#SVGID_66_);
}

.st73 {
  fill: url(#SVGID_67_);
}

.st74 {
  fill: url(#SVGID_68_);
}

.st75 {
  fill: url(#SVGID_69_);
}

.st76 {
  fill: url(#SVGID_70_);
}

.st77 {
  fill: url(#SVGID_71_);
}

.st78 {
  fill: url(#SVGID_72_);
}

.st79 {
  fill: url(#SVGID_73_);
}

.st80 {
  fill: url(#SVGID_74_);
}

.st81 {
  fill: url(#SVGID_75_);
}

.st82 {
  fill: url(#SVGID_76_);
}

.st83 {
  fill: url(#SVGID_77_);
}

.st84 {
  fill: url(#SVGID_78_);
}

.st85 {
  fill: url(#SVGID_79_);
}

.st86 {
  fill: url(#SVGID_80_);
}

.st87 {
  fill: url(#SVGID_81_);
}

.st88 {
  fill: url(#SVGID_82_);
}

.st89 {
  fill: url(#SVGID_83_);
}

.st90 {
  fill: url(#SVGID_84_);
}

.st91 {
  fill: url(#SVGID_85_);
}

.st92 {
  fill: url(#SVGID_86_);
}

.st93 {
  fill: url(#SVGID_87_);
}

.st94 {
  fill: url(#SVGID_88_);
}

.st95 {
  fill: url(#SVGID_89_);
}

.st96 {
  fill: url(#SVGID_90_);
}

.st97 {
  fill: url(#SVGID_91_);
}

.st98 {
  fill: url(#SVGID_92_);
}

.st99 {
  fill: url(#SVGID_93_);
}

.st100 {
  fill: url(#SVGID_94_);
}

.st101 {
  fill: none;
  stroke: url(#SVGID_95_);
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke-dasharray: 5, 2.5;
}

.st102 {
  fill: url(#SVGID_96_);
}

.st103 {
  fill: url(#SVGID_97_);
}

.st104 {
  fill: url(#SVGID_98_);
}

.st105 {
  fill: url(#SVGID_99_);
}

.st106 {
  fill: url(#SVGID_100_);
}

.st107 {
  fill: url(#SVGID_101_);
}

.st108 {
  fill: url(#SVGID_102_);
}

.st109 {
  fill: url(#SVGID_103_);
}

.st110 {
  fill: url(#SVGID_104_);
}

.st111 {
  fill: url(#SVGID_105_);
}

.st112 {
  fill: url(#SVGID_106_);
}

.st113 {
  fill: url(#SVGID_107_);
}

.st114 {
  fill: url(#SVGID_108_);
}

.st115 {
  fill: url(#SVGID_109_);
}

.st116 {
  fill: url(#SVGID_110_);
}

.st117 {
  fill: url(#SVGID_111_);
}

.st118 {
  fill: url(#SVGID_112_);
}

.st119 {
  fill: url(#SVGID_113_);
}

.st120 {
  fill: url(#SVGID_114_);
}

.st121 {
  fill: url(#SVGID_115_);
}

.st122 {
  fill: url(#SVGID_116_);
}

.st123 {
  fill: url(#SVGID_117_);
}

.st124 {
  fill: url(#SVGID_118_);
}

.st125 {
  fill: url(#SVGID_119_);
}

.st126 {
  fill: url(#SVGID_120_);
}

.st127 {
  fill: url(#SVGID_121_);
}

.st128 {
  fill: url(#SVGID_122_);
}

.st129 {
  fill: url(#SVGID_123_);
}

.st130 {
  fill: url(#SVGID_124_);
}

.st131 {
  fill: url(#SVGID_125_);
}

.st132 {
  fill: none;
  stroke: url(#SVGID_126_);
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke-dasharray: 5, 2.5;
}

.st133 {
  fill: url(#SVGID_127_);
}

.st134 {
  fill: url(#SVGID_128_);
}

.st135 {
  fill: url(#SVGID_129_);
}

.st136 {
  fill: url(#SVGID_130_);
}

.st137 {
  fill: url(#SVGID_131_);
}

.st138 {
  fill: url(#SVGID_132_);
}

.st139 {
  fill: url(#SVGID_133_);
}

.st140 {
  fill: url(#SVGID_134_);
}

.st141 {
  fill: url(#SVGID_135_);
}

.st142 {
  fill: url(#SVGID_136_);
}

.st143 {
  fill: url(#SVGID_137_);
}

.st144 {
  fill: url(#SVGID_138_);
}

.st145 {
  fill: url(#SVGID_139_);
}

.st146 {
  fill: url(#SVGID_140_);
}

.st147 {
  fill: url(#SVGID_141_);
}

.st148 {
  fill: url(#SVGID_142_);
}

.st149 {
  fill: url(#SVGID_143_);
}

.st150 {
  fill: url(#SVGID_144_);
}

.st151 {
  fill: url(#SVGID_145_);
}

.st152 {
  fill: url(#SVGID_146_);
}

.st153 {
  fill: url(#SVGID_147_);
}

.st154 {
  fill: url(#SVGID_148_);
}

.st155 {
  fill: url(#SVGID_149_);
}

.st156 {
  fill: url(#SVGID_150_);
}

.st157 {
  fill: url(#SVGID_151_);
}

.st158 {
  fill: url(#SVGID_152_);
}

.st159 {
  fill: url(#SVGID_153_);
}

.st160 {
  fill: url(#SVGID_154_);
}

.st161 {
  fill: url(#SVGID_155_);
}

.st162 {
  fill: url(#SVGID_156_);
}

.st163 {
  fill: none;
  stroke: url(#SVGID_157_);
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke-dasharray: 5, 2.5;
}

.st164 {
  fill: url(#SVGID_158_);
}

.st165 {
  fill: url(#SVGID_159_);
}

.st166 {
  fill: url(#SVGID_160_);
}

.st167 {
  fill: url(#SVGID_161_);
}

.st168 {
  fill: url(#SVGID_162_);
}

.st169 {
  fill: url(#SVGID_163_);
}

.st170 {
  fill: url(#SVGID_164_);
}

.st171 {
  fill: url(#SVGID_165_);
}

.st172 {
  fill: url(#SVGID_166_);
}

.st173 {
  fill: url(#SVGID_167_);
}

.st174 {
  fill: url(#SVGID_168_);
}

.st175 {
  fill: url(#SVGID_169_);
}

.st176 {
  fill: url(#SVGID_170_);
}

.st177 {
  fill: url(#SVGID_171_);
}

.st178 {
  fill: url(#SVGID_172_);
}

.st179 {
  fill: url(#SVGID_173_);
}

.st180 {
  fill: url(#SVGID_174_);
}

.st181 {
  fill: url(#SVGID_175_);
}

.st182 {
  fill: url(#SVGID_176_);
}

.st183 {
  fill: url(#SVGID_177_);
}

.st184 {
  fill: url(#SVGID_178_);
}

.st185 {
  fill: url(#SVGID_179_);
}

.st186 {
  fill: url(#SVGID_180_);
}

.st187 {
  fill: url(#SVGID_181_);
}

.st188 {
  fill: url(#SVGID_182_);
}

.st189 {
  fill: url(#SVGID_183_);
}

.st190 {
  fill: url(#SVGID_184_);
}

.st191 {
  fill: url(#SVGID_185_);
}

.st192 {
  fill: url(#SVGID_186_);
}

.st193 {
  fill: url(#SVGID_187_);
}

.st194 {
  fill: none;
  stroke: url(#SVGID_188_);
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke-dasharray: 5, 2.5;
}

.st195 {
  fill: url(#SVGID_189_);
}

.st196 {
  fill: url(#SVGID_190_);
}

.st197 {
  fill: url(#SVGID_191_);
}

.st198 {
  fill: url(#SVGID_192_);
}

.st199 {
  fill: url(#SVGID_193_);
}

.st200 {
  fill: url(#SVGID_194_);
}

.st201 {
  fill: url(#SVGID_195_);
}

.st202 {
  fill: url(#SVGID_196_);
}

.st203 {
  fill: url(#SVGID_197_);
}

.st204 {
  fill: url(#SVGID_198_);
}

.st205 {
  fill: url(#SVGID_199_);
}

.st206 {
  fill: url(#SVGID_200_);
}

.st207 {
  fill: url(#SVGID_201_);
}

.st208 {
  fill: url(#SVGID_202_);
}

.st209 {
  fill: url(#SVGID_203_);
}

.st210 {
  fill: url(#SVGID_204_);
}

.st211 {
  fill: url(#SVGID_205_);
}

.st212 {
  fill: url(#SVGID_206_);
}

.st213 {
  fill: url(#SVGID_207_);
}

.st214 {
  fill: url(#SVGID_208_);
}

.st215 {
  fill: url(#SVGID_209_);
}

.st216 {
  fill: url(#SVGID_210_);
}

.st217 {
  fill: url(#SVGID_211_);
}

.st218 {
  fill: url(#SVGID_212_);
}

.st219 {
  fill: url(#SVGID_213_);
}

.st220 {
  fill: url(#SVGID_214_);
}

.st221 {
  fill: url(#SVGID_215_);
}

.st222 {
  fill: url(#SVGID_216_);
}

.st223 {
  fill: url(#SVGID_217_);
}

.st224 {
  fill: url(#SVGID_218_);
}

.st225 {
  fill: none;
  stroke: url(#SVGID_219_);
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke-dasharray: 5, 2.5;
}

.st226 {
  fill: url(#SVGID_220_);
}

.st227 {
  fill: url(#SVGID_221_);
}

.st228 {
  fill: url(#SVGID_222_);
}

.st229 {
  fill: url(#SVGID_223_);
}

.st230 {
  fill: url(#SVGID_224_);
}

.st231 {
  fill: url(#SVGID_225_);
}

.st232 {
  fill: url(#SVGID_226_);
}

.st233 {
  fill: url(#SVGID_227_);
}

.st234 {
  fill: url(#SVGID_228_);
}

.st235 {
  fill: url(#SVGID_229_);
}

.st236 {
  fill: url(#SVGID_230_);
}

.st237 {
  fill: url(#SVGID_231_);
}

.st238 {
  fill: url(#SVGID_232_);
}

.st239 {
  fill: url(#SVGID_233_);
}

.st240 {
  fill: url(#SVGID_234_);
}

.st241 {
  fill: url(#SVGID_235_);
}

.st242 {
  fill: url(#SVGID_236_);
}

.st243 {
  fill: url(#SVGID_237_);
}

.st244 {
  fill: url(#SVGID_238_);
}

.st245 {
  fill: url(#SVGID_239_);
}

.st246 {
  fill: url(#SVGID_240_);
}

.st247 {
  fill: url(#SVGID_241_);
}

.st248 {
  fill: url(#SVGID_242_);
}

.st249 {
  fill: url(#SVGID_243_);
}

.st250 {
  fill: url(#SVGID_244_);
}

.st251 {
  fill: url(#SVGID_245_);
}

.st252 {
  fill: url(#SVGID_246_);
}

.st253 {
  fill: url(#SVGID_247_);
}

.st254 {
  fill: url(#SVGID_248_);
}

.st255 {
  fill: url(#SVGID_249_);
}

.st256 {
  fill: none;
  stroke: url(#SVGID_250_);
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke-dasharray: 5, 2.5;
}

.st257 {
  fill: url(#SVGID_251_);
}

.st258 {
  fill: url(#SVGID_252_);
}

.st259 {
  fill: url(#SVGID_253_);
}

.st260 {
  fill: url(#SVGID_254_);
}

.st261 {
  fill: url(#SVGID_255_);
}

.st262 {
  fill: url(#SVGID_256_);
}

.st263 {
  fill: url(#SVGID_257_);
}

.st264 {
  fill: url(#SVGID_258_);
}

.st265 {
  fill: url(#SVGID_259_);
}

.st266 {
  fill: url(#SVGID_260_);
}

.st267 {
  fill: url(#SVGID_261_);
}

.st268 {
  fill: url(#SVGID_262_);
}

.st269 {
  fill: url(#SVGID_263_);
}

.st270 {
  fill: url(#SVGID_264_);
}

.st271 {
  fill: url(#SVGID_265_);
}

.st272 {
  fill: url(#SVGID_266_);
}

.st273 {
  fill: url(#SVGID_267_);
}

.st274 {
  fill: url(#SVGID_268_);
}

.st275 {
  fill: url(#SVGID_269_);
}

.st276 {
  fill: url(#SVGID_270_);
}

.st277 {
  fill: url(#SVGID_271_);
}

.st278 {
  fill: url(#SVGID_272_);
}

.st279 {
  fill: url(#SVGID_273_);
}

.st280 {
  fill: url(#SVGID_274_);
}

.st281 {
  fill: url(#SVGID_275_);
}

.st282 {
  fill: url(#SVGID_276_);
}

.st283 {
  fill: url(#SVGID_277_);
}

.st284 {
  fill: url(#SVGID_278_);
}

.st285 {
  fill: url(#SVGID_279_);
}

.st286 {
  fill: url(#SVGID_280_);
}

.st287 {
  fill: none;
  stroke: url(#SVGID_281_);
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke-dasharray: 5, 2.5;
}

.st288 {
  fill: url(#SVGID_282_);
}

.st289 {
  fill: url(#SVGID_283_);
}

.st290 {
  fill: url(#SVGID_284_);
}

.st291 {
  fill: url(#SVGID_285_);
}

.st292 {
  fill: url(#SVGID_286_);
}

.st293 {
  fill: url(#SVGID_287_);
}

.st294 {
  fill: url(#SVGID_288_);
}

.st295 {
  fill: url(#SVGID_289_);
}

.st296 {
  fill: url(#SVGID_290_);
}

.st297 {
  fill: url(#SVGID_291_);
}

.st298 {
  fill: url(#SVGID_292_);
}

.st299 {
  fill: url(#SVGID_293_);
}

.st300 {
  fill: url(#SVGID_294_);
}

.st301 {
  fill: url(#SVGID_295_);
}

.st302 {
  fill: url(#SVGID_296_);
}

.st303 {
  fill: url(#SVGID_297_);
}

.st304 {
  fill: url(#SVGID_298_);
}

.st305 {
  fill: url(#SVGID_299_);
}

.st306 {
  fill: url(#SVGID_300_);
}

.st307 {
  fill: url(#SVGID_301_);
}

.st308 {
  fill: url(#SVGID_302_);
}

.st309 {
  fill: url(#SVGID_303_);
}

.st310 {
  fill: url(#SVGID_304_);
}

.st311 {
  fill: url(#SVGID_305_);
}

.st312 {
  fill: url(#SVGID_306_);
}

.st313 {
  fill: url(#SVGID_307_);
}

.st314 {
  fill: url(#SVGID_308_);
}

.st315 {
  fill: url(#SVGID_309_);
}

.st316 {
  fill: url(#SVGID_310_);
}

.st317 {
  fill: url(#SVGID_311_);
}

.st318 {
  fill: none;
  stroke: url(#SVGID_312_);
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke-dasharray: 5, 2.5;
}

.st319 {
  fill: url(#SVGID_313_);
}

.st320 {
  fill: url(#SVGID_314_);
}

.st321 {
  fill: url(#SVGID_315_);
}

.st322 {
  fill: url(#SVGID_316_);
}

.st323 {
  fill: url(#SVGID_317_);
}

.st324 {
  fill: url(#SVGID_318_);
}

.st325 {
  fill: url(#SVGID_319_);
}

.st326 {
  fill: url(#SVGID_320_);
}

.st327 {
  fill: url(#SVGID_321_);
}

.st328 {
  fill: url(#SVGID_322_);
}

.st329 {
  fill: url(#SVGID_323_);
}

.st330 {
  fill: url(#SVGID_324_);
}

.st331 {
  fill: url(#SVGID_325_);
}

.st332 {
  fill: url(#SVGID_326_);
}

.st333 {
  fill: url(#SVGID_327_);
}

.st334 {
  fill: url(#SVGID_328_);
}

.st335 {
  fill: url(#SVGID_329_);
}

.st336 {
  fill: url(#SVGID_330_);
}

.st337 {
  fill: url(#SVGID_331_);
}

.st338 {
  fill: url(#SVGID_332_);
}

.st339 {
  fill: url(#SVGID_333_);
}

.st340 {
  fill: url(#SVGID_334_);
}

.st341 {
  fill: url(#SVGID_335_);
}

.st342 {
  fill: url(#SVGID_336_);
}

.st343 {
  fill: url(#SVGID_337_);
}

.st344 {
  fill: url(#SVGID_338_);
}

.st345 {
  fill: url(#SVGID_339_);
}

.st346 {
  fill: url(#SVGID_340_);
}

.st347 {
  fill: url(#SVGID_341_);
}

.st348 {
  fill: url(#SVGID_342_);
}

.st349 {
  fill: none;
  stroke: url(#SVGID_343_);
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke-dasharray: 5, 2.5;
}

.st350 {
  fill: url(#SVGID_344_);
}

.st351 {
  fill: url(#SVGID_345_);
}

.st352 {
  fill: url(#SVGID_346_);
}

.st353 {
  fill: url(#SVGID_347_);
}

.st354 {
  fill: url(#SVGID_348_);
}

.st355 {
  fill: url(#SVGID_349_);
}

.st356 {
  fill: url(#SVGID_350_);
}

.st357 {
  fill: url(#SVGID_351_);
}

.st358 {
  fill: url(#SVGID_352_);
}

.st359 {
  fill: url(#SVGID_353_);
}

.st360 {
  fill: url(#SVGID_354_);
}

.st361 {
  fill: url(#SVGID_355_);
}

.st362 {
  fill: url(#SVGID_356_);
}

.st363 {
  fill: url(#SVGID_357_);
}

.st364 {
  fill: url(#SVGID_358_);
}

.st365 {
  fill: url(#SVGID_359_);
}

.st366 {
  fill: url(#SVGID_360_);
}

.st367 {
  fill: url(#SVGID_361_);
}

.st368 {
  fill: url(#SVGID_362_);
}

.st369 {
  fill: url(#SVGID_363_);
}

.st370 {
  fill: url(#SVGID_364_);
}

.st371 {
  fill: url(#SVGID_365_);
}

.st372 {
  fill: url(#SVGID_366_);
}

.st373 {
  fill: url(#SVGID_367_);
}

.st374 {
  fill: url(#SVGID_368_);
}

.st375 {
  fill: url(#SVGID_369_);
}

.st376 {
  fill: url(#SVGID_370_);
}

.st377 {
  fill: url(#SVGID_371_);
}

.st378 {
  fill: url(#SVGID_372_);
}

.st379 {
  fill: url(#SVGID_373_);
}

.st380 {
  fill: none;
  stroke: url(#SVGID_374_);
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke-dasharray: 5, 2.5;
}

.st381 {
  fill: #79C0F5;
}

.st382 {
  font-family: 'MicrosoftYaHei';
}

.st383 {
  font-size: 18px;
}

.st384 {
  fill: none;
  stroke: #00B0FF;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st385 {
  fill: none;
  stroke: #00B0FF;
  stroke-miterlimit: 10;
  stroke-dasharray: 5, 2.5;
}

.st386 {
  fill: none;
  stroke: url(#SVGID_375_);
  stroke-width: 4;
  stroke-miterlimit: 10;
  stroke-dasharray: 8.016, 2.505;
}

.st387 {
  opacity: 0.71;
  fill: #08112B;
  stroke: #11B3F7;
  stroke-miterlimit: 10;
  stroke-dasharray: 1.5, 1;
  enable-background: new;
}

.st388 {
  fill: #08112B;
  stroke: url(#SVGID_376_);
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}

.st389 {
  fill: url(#SVGID_377_);
}

.st390 {
  fill: url(#SVGID_378_);
}

.st391 {
  fill: url(#SVGID_379_);
}

.st392 {
  fill: url(#SVGID_380_);
}

.st393 {
  fill: url(#SVGID_381_);
}

.st394 {
  fill: #08112B;
  stroke: url(#SVGID_382_);
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}

.st395 {
  fill: url(#SVGID_383_);
}

.st396 {
  fill: url(#SVGID_384_);
}

.st397 {
  fill: url(#SVGID_385_);
}

.st398 {
  fill: url(#SVGID_386_);
}

.st399 {
  fill: url(#SVGID_387_);
}

.st400 {
  fill: #08112B;
  stroke: url(#SVGID_388_);
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}

.st401 {
  fill: url(#SVGID_389_);
}

.st402 {
  fill: url(#SVGID_390_);
}

.st403 {
  fill: url(#SVGID_391_);
}

.st404 {
  fill: url(#SVGID_392_);
}

.st405 {
  fill: url(#SVGID_393_);
}

.st406 {
  fill: #08112B;
  stroke: url(#SVGID_394_);
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}

.st407 {
  fill: url(#SVGID_395_);
}

.st408 {
  fill: url(#SVGID_396_);
}

.st409 {
  fill: url(#SVGID_397_);
}

.st410 {
  fill: url(#SVGID_398_);
}

.st411 {
  fill: url(#SVGID_399_);
}

.st412 {
  fill: #08112B;
  stroke: url(#SVGID_400_);
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}

.st413 {
  fill: #08112B;
  stroke: url(#SVGID_401_);
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}

.st414 {
  fill: url(#SVGID_402_);
}

.st415 {
  fill: #08112B;
  stroke: url(#SVGID_403_);
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}

.st416 {
  fill: url(#SVGID_404_);
}

.st417 {
  fill: #08112B;
  stroke: url(#SVGID_405_);
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}

.st418 {
  fill: url(#SVGID_406_);
}

.st419 {
  fill: #08112B;
  stroke: url(#SVGID_407_);
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}

.st420 {
  fill: url(#SVGID_408_);
}

.st421 {
  fill: #08112B;
  stroke: url(#SVGID_409_);
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}

.st422 {
  fill: url(#SVGID_410_);
}

.st423 {
  fill: #08112B;
  stroke: url(#SVGID_411_);
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}

.st424 {
  fill: url(#SVGID_412_);
}

.st425 {
  fill: #08112B;
  stroke: url(#SVGID_413_);
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}

.st426 {
  fill: url(#SVGID_414_);
}

.st427 {
  fill: #08112B;
  stroke: url(#SVGID_415_);
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}

.st428 {
  fill: url(#SVGID_416_);
}

.st429 {
  fill: #08112B;
  stroke: url(#SVGID_417_);
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}

.st430 {
  fill: url(#SVGID_418_);
}

.st431 {
  fill: #08112B;
  stroke: url(#SVGID_419_);
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}

.st432 {
  fill: url(#SVGID_420_);
}

.st433 {
  fill: #08112B;
  stroke: url(#SVGID_421_);
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}

.st434 {
  fill: url(#SVGID_422_);
}

.st435 {
  fill: #08112B;
  stroke: url(#SVGID_423_);
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}

.st436 {
  fill: url(#SVGID_424_);
}

.st437 {
  fill: #08112B;
  stroke: url(#SVGID_425_);
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}

.st438 {
  fill: url(#SVGID_426_);
}

.st439 {
  fill: #0D61A4;
}

.st440 {
  fill: #6BCDEE;
}

.st441 {
  fill: #CBDDF4;
}

.st442 {
  fill: none;
  stroke: #35EBFF;
  stroke-width: 3;
  stroke-miterlimit: 10;
  stroke-dasharray: 5, 2.5;
}

.st443 {
  fill: #08112B;
  stroke: url(#SVGID_427_);
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st444 {
  fill: url(#SVGID_428_);
}

.st445 {
  fill: #08112B;
  stroke: url(#SVGID_429_);
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st446 {
  fill: url(#SVGID_430_);
}

.st447 {
  opacity: 0.78;
}

.st448 {
  fill: #08112B;
  stroke: url(#SVGID_431_);
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}

.st449 {
  fill: url(#SVGID_432_);
}

.st450 {
  fill: url(#SVGID_433_);
}

.st451 {
  fill: url(#SVGID_434_);
}

.st452 {
  fill: url(#SVGID_435_);
}

.st453 {
  fill: url(#SVGID_436_);
}

.st454 {
  fill: #08112B;
  stroke: url(#SVGID_437_);
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}

.st455 {
  fill: url(#SVGID_438_);
}

.st456 {
  fill: url(#SVGID_439_);
}

.st457 {
  fill: url(#SVGID_440_);
}

.st458 {
  fill: url(#SVGID_441_);
}

.st459 {
  fill: url(#SVGID_442_);
}

.st460 {
  opacity: 0.83;
}

.st461 {
  fill: #08112B;
  stroke: url(#SVGID_443_);
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}

.st462 {
  fill: url(#SVGID_444_);
}

.st463 {
  fill: url(#SVGID_445_);
}

.st464 {
  fill: url(#SVGID_446_);
}

.st465 {
  fill: url(#SVGID_447_);
}

.st466 {
  fill: url(#SVGID_448_);
}

.st467 {
  fill: #08112B;
  stroke: url(#SVGID_449_);
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}

.st468 {
  fill: url(#SVGID_450_);
}

.st469 {
  fill: url(#SVGID_451_);
}

.st470 {
  fill: url(#SVGID_452_);
}

.st471 {
  fill: url(#SVGID_453_);
}

.st472 {
  fill: url(#SVGID_454_);
}

.st473 {
  fill: #08112B;
  stroke: url(#SVGID_455_);
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}

.st474 {
  fill: url(#SVGID_456_);
}

.st475 {
  fill: url(#SVGID_457_);
}

.st476 {
  fill: url(#SVGID_458_);
}

.st477 {
  fill: url(#SVGID_459_);
}

.st478 {
  fill: url(#SVGID_460_);
}

.st479 {
  fill: #83BEFF;
}

.st480 {
  font-size: 14px;
}

.st481 {
  font-size: 12px;
}

.st482 {
  fill: none;
  stroke: #20FF00;
  stroke-width: 3;
  stroke-miterlimit: 10;
}